flows.json
[
    {
        "id": "189d09c49f1b9722",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0578daf94c558dc8",
        "type": "telegram receiver",
        "z": "189d09c49f1b9722",
        "name": "ferrete7_bot",
        "bot": "b994acb20815ba0a",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "7ee98aec9e98778e"
            ],
            []
        ]
    },
    {
        "id": "a9dbd2331d4edb81",
        "type": "telegram sender",
        "z": "189d09c49f1b9722",
        "name": "",
        "bot": "b994acb20815ba0a",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d122a9e6fc97aa3d",
        "type": "watson-assistant-v2",
        "z": "189d09c49f1b9722",
        "name": "Watson BOT",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d61db492-76f5-4eae-97da-0bd20514cee2",
        "assistant_id": "8292fc26-3f32-448d-ab60-33b9e3e87195",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 690,
        "y": 240,
        "wires": [
            [
                "74ad77d72cde2118",
                "a4e1e040cf5f7bce"
            ]
        ]
    },
    {
        "id": "1136cae057141dc9",
        "type": "function",
        "z": "189d09c49f1b9722",
        "name": "function 1",
        "func": "msg.params={\n    \"session_id\":msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "d122a9e6fc97aa3d",
                "7c7041772611715a"
            ]
        ]
    },
    {
        "id": "7c7041772611715a",
        "type": "debug",
        "z": "189d09c49f1b9722",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "74ad77d72cde2118",
        "type": "debug",
        "z": "189d09c49f1b9722",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "faa3e115db70601d",
        "type": "comment",
        "z": "189d09c49f1b9722",
        "name": "IntegrandoBOT_Telegram",
        "info": "Integrando bot do ibmCloud ao telegram\n",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "a4e1e040cf5f7bce",
        "type": "function",
        "z": "189d09c49f1b9722",
        "name": "function 2",
        "func": "msg.payload = {\n    \"content\":msg.payload.output.generic[0].text,\n    \"type\":\"message\",\n    \"chatId\": msg.params.session_id\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            [
                "a9dbd2331d4edb81",
                "e2f0f14315c233e1"
            ]
        ]
    },
    {
        "id": "e2f0f14315c233e1",
        "type": "debug",
        "z": "189d09c49f1b9722",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e56461d5888c0f0",
        "type": "function",
        "z": "189d09c49f1b9722",
        "name": "function 5",
        "func": "msg.params={\n    \"session_id\" : msg.payload.chatId\n}\nmsg.payload=msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "21b408902b882485"
            ]
        ]
    },
    {
        "id": "21b408902b882485",
        "type": "watson-speech-to-text",
        "z": "189d09c49f1b9722",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "DW173C9DA8_K-CnGp0ZUlVF_nb76XOWx5WgDNa4Yj70u",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/58515a7e-fff2-43b1-8cba-18c41e845b0d",
        "x": 680,
        "y": 380,
        "wires": [
            [
                "e7586720c7308c4f"
            ]
        ]
    },
    {
        "id": "2ee52a883d5693bb",
        "type": "function",
        "z": "189d09c49f1b9722",
        "name": "function 6",
        "func": "msg.payload = {\n    \"content\": msg.payload,\n    \"chatId\": msg.params.session_id,\n    \"type\": \"voice\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 380,
        "wires": [
            [
                "7abebb206f6e076c",
                "b95685f2e8a39d4b"
            ]
        ]
    },
    {
        "id": "e7586720c7308c4f",
        "type": "watson-assistant-v2",
        "z": "189d09c49f1b9722",
        "name": "Watson BOT",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d61db492-76f5-4eae-97da-0bd20514cee2",
        "assistant_id": "8292fc26-3f32-448d-ab60-33b9e3e87195",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 870,
        "y": 380,
        "wires": [
            [
                "c6c58b5d7d6a68bb"
            ]
        ]
    },
    {
        "id": "7abebb206f6e076c",
        "type": "telegram sender",
        "z": "189d09c49f1b9722",
        "name": "",
        "bot": "b994acb20815ba0a",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1610,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b0c9e34badf95858",
        "type": "watson-text-to-speech",
        "z": "189d09c49f1b9722",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "3Z8w_kzrjapwhScYbthJey3isR4fa7dP-6V3cteNOSDv",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/5403e2a0-51cc-424b-8c7f-045b313facbe",
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "2ee52a883d5693bb"
            ]
        ]
    },
    {
        "id": "7ee98aec9e98778e",
        "type": "switch",
        "z": "189d09c49f1b9722",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "1136cae057141dc9"
            ],
            [
                "2e56461d5888c0f0"
            ]
        ]
    },
    {
        "id": "c6c58b5d7d6a68bb",
        "type": "function",
        "z": "189d09c49f1b9722",
        "name": "function 8",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "b0c9e34badf95858"
            ]
        ]
    },
    {
        "id": "b95685f2e8a39d4b",
        "type": "debug",
        "z": "189d09c49f1b9722",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 300,
        "wires": []
    },
    {
        "id": "b994acb20815ba0a",
        "type": "telegram bot",
        "botname": "ferrete7_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]